/* Footer */
.bkfk-footer {
    background: linear-gradient(360deg, var(--primary-2) -9.37%, rgba(247, 191, 101, 0) 78.03%);
    padding: 35px;
    margin-top: 57px;
}

.bkfk-footer .bkfk-container {
    width: min(1848px, 100%);
    margin: 0 auto;
    position: relative;
}

.bkfk-footer .bkfk-container .bkfk-banner {
    width: 100%;
}

.bkfk-footer .bkfk-container .bkfk-footer-caption {
    position: absolute;
    bottom: 130px;
    left: 98px;
    max-width: 652px;
    display: flex;
    flex-flow: column;
    align-items: start;
}

.bkfk-footer .bkfk-container .bkfk-footer-caption h2 {
    font-family: var(--primary-bold);
    font-weight: 700;
    font-size: var(--h2-size);
    line-height: 1.19;
    letter-spacing: -1px;
    color: var(--text-color-2);
    margin: 0 0 24px 0;
}

.bkfk-footer .bkfk-container .bkfk-footer-caption p {
    font-family: var(--body-font);
    font-size: var(--h6-size);
    line-height: 1.4;
    color: var(--text-color-2);
    max-width: 520px;
}

.bkfk-footer .bkfk-container .bkfk-footer-caption .bkfk-btn {
    padding: 30px 50px;
    background: var(--primary-2);
    border-radius: 50px;
    font-family: var(--primary-medium);
    font-size: var(--h5-size);
    line-height: 152%;
    text-align: center;
    color: var(--white);
    text-decoration: none;
    margin: 32px 0 0 0;
    display: flex;
    gap: 16px;
    min-width: 227px;
    box-shadow: 0px 4px 2.1px 0px #FFC15B;
}

.bkfk-footer .bkfk-container .bkfk-footer-caption .bkfk-btn img {
    width: 25px;
}

.bkfk-footer .bkfk-container .bkfk-footer-caption .bkfk-get-in-touch {
    max-width: 437px;
    display: flex;
    flex-flow: column;
    align-items: start;
    gap: 20px;
    margin: 70px 0 0 0;
}

.bkfk-footer .bkfk-container .bkfk-footer-caption .email-address {
    background: #fff8ba;
    padding: 20px 31px 20px 22px;
    border-radius: 22px;
    display: flex;
    align-items: center;
    gap: 14px;
    text-decoration: none;
    font-family: var(--body-font);
    font-weight: 500;
    font-size: var(--h6-size);
    line-height: 100%;
    color: var(--black);
}

.parallax-item {
    will-change: transform;
    transition: transform 0.2s ease-out;
}

.bkfk-sep-shape-footer,
.footer-mobile-banner {
    display: none;
}

@media all and (max-width: 1860px) {
    .bkfk-footer .bkfk-container .bkfk-footer-caption h2 {
        font-size: 4vw;
        margin: 0 0 1.4vw 0;
        max-width: 35vw;
    }

    .bkfk-footer .bkfk-container .bkfk-footer-caption p {
        font-size: 1.4vw;
        max-width: 30vw;
    }

    .bkfk-footer .bkfk-container .bkfk-footer-caption {
        bottom: 5vw;
        left: 5vw;
    }

    .bkfk-footer .bkfk-container .bkfk-footer-caption .bkfk-btn {
        padding: 1.5vw 3vw;
        font-size: 1.6vw;
        margin-top: 1.6vw;
    }

    .bkfk-footer .bkfk-container .bkfk-footer-caption .bkfk-get-in-touch {
        max-width: 25vw;
        margin-top: 3vw;
        gap: 1vw;
    }

    .bkfk-footer .bkfk-container .bkfk-footer-caption .bkfk-get-in-touch p {
        max-width: inherit;
    }

    .bkfk-footer .bkfk-container .bkfk-footer-caption .email-address {
        font-size: 1.4vw;
        padding: 1vw 1.5vw;
    }
}
@media all and (max-width: 1700px) and (min-width: 1200px) {
    .bkfk-footer .bkfk-container {
        max-width: 1440px;
    }
    .bkfk-footer .bkfk-container .bkfk-footer-caption h2 {
        font-size: 3vw;
        margin: 0 0 1vw 0;
        max-width: 33vw;
    }
    .bkfk-footer .bkfk-container .bkfk-footer-caption p {
        font-size: 1.2vw;
        max-width: 25vw;
    }
    .bkfk-footer .bkfk-container .bkfk-footer-caption .bkfk-btn {
        padding: 1vw 2.5vw;
        font-size: 1.3vw;
        margin-top: 1.2vw;
    }
}
@media all and (max-width: 1199px) {
    .bkfk-footer {
        padding: 15px;
        margin-top: 0;
    }

    .bkfk-footer .bkfk-container .bkfk-footer-caption .bkfk-btn {
        min-width: inherit;
    }

    .bkfk-footer .bkfk-container .bkfk-footer-caption .bkfk-btn img {
        width: 2vw;
    }
}

@media all and (max-width: 767px) {
    .bkfk-footer .bkfk-container .bkfk-banner {
        display: none;
    }

    .bkfk-footer .bkfk-container .bkfk-footer-caption {
        position: relative;
        left: 0;
        bottom: 0;
        align-items: center;
        text-align: center;
    }

    .bkfk-footer {
        background: var(--yellow-light-3) !important;
        padding: 60px 15px 0;
    }

    .bkfk-sep-shape-footer {
        display: block;
        margin-top: 40px;
    }

    .bkfk-sep-shape-footer img {
        display: block;
        width: 100%;
    }

    .bkfk-footer .bkfk-container .bkfk-footer-caption h2 {
        font-size: 36px;
        margin: 0 0 20px 0;
        max-width: 400px;
    }

    .bkfk-footer .bkfk-container .bkfk-footer-caption p {
        font-size: 16px;
        max-width: 300px;
    }

    .bkfk-footer .bkfk-container .bkfk-footer-caption .bkfk-btn {
        padding: 14px 30px;
        font-size: 18px;
        margin-top: 30px;
    }

    .bkfk-footer .bkfk-container .bkfk-footer-caption .bkfk-get-in-touch {
        max-width: 300px;
        margin: 30px 0 -70px 0;
        gap: 20px;
    }

    .bkfk-footer .bkfk-container .bkfk-footer-caption .email-address {
        font-size: 16px;
        padding: 13px 20px;
        margin: 0 auto;
    }

    .footer-mobile-banner {
        display: block;
        max-width: 100%;
    }
}

@media all and (max-width: 640px) {
    .bkfk-footer .bkfk-container .bkfk-footer-caption .bkfk-get-in-touch {
        margin: 20px 0 -20px 0;
    }

    .bkfk-footer .bkfk-container .bkfk-footer-caption h2 {
        font-size: 32px;
        max-width: 350px;
    }
}
